.content > p {
  margin-top: 1.2rem;
  font-size: 16px;
  line-height: 1.6;
}

.content > p > a {
  color: rgb(50, 50, 255);
}

.content > ul {
  margin-top: 1rem;
  list-style: inside disc;
}

.content > ol {
  margin-top: 1rem;
  list-style: inside decimal;
}